/* CSS Layout - float and clear */

/* Float */
/* img {
    float: right;
} */

/* clear */
/* without float */
.div1 {
    float: left;
    padding: 10px;
    border: 3px solid green;
}

.div2 {
    padding: 10px;
    border: 3px solid red;
}

/* with clear */
.div3 {
    clear: left;
    padding: 10px;
    border: 3px solid red;
}

/* clearfix */
div.ex1 {
    padding: 5px;
    border: 3px solid green;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* CSS Layout - Float examples */

/* Grid of Boxes - Equal Width Boxes */
* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

/* images side by side */
.img-container {
    float: left;
    width: 50%;
    padding: 5px;
}

/* equal height boxes */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
}

.flex-container .box {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

/* navigation menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

/* CSS Layout - display: inline-block */

/* the display: inline-block value */
span.a {
    display: inline;  /* the default for span */
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 1px solid blue;
    background-color: yellow;
}

span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 1px solid blue;
    background-color: yellow;
}

span.c {
    display: block;
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 1px solid blue;
    background-color: yellow;
}

/* horizontal navigation link */
.nav {
    background-color: black;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

/* CSS Layout - Horizontal and Vertical Align */

/* center align elements */
.center {
    margin: auto;
    /* center align text */
    text-align: center;
    width: 50%;
    border: 3px solid greenyellow;
    padding: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* left and right align */
.right {
    /* using position */
    /* position: absolute;
    right: 0px; */

    /* using float */
    float: right;
    width: 300px;
    border: 3px solid greenyellow;
    padding: 10px;
}

/* center vertical - using padding */
.center-ver {
    padding: 70px 0;
    text-align: center;
    border: 3px solid greenyellow;
}

/* center vertical - using line-height */
.center-ver1 {
    line-height: 200px;
    height: 200px;
    border: 3px solid greenyellow;
    text-align: center;
}

.center-ver1 p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/* center vertical - using position and transform */
.center-ver2 {
    height: 200px;
    position: relative;
    border: 3px solid greenyellow;
}

.center-ver2 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* center vertical - using flexbox */
.center-ver3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid greenyellow;
}

/* CSS Combinators */

/* descendant selectors */
div.ex2 p {
    background-color: yellowgreen;
}

/* child selectors */
div.ex3 > p {
    background-color: yellowgreen;
}

/* adjacent sibling selector */
div.ex4 + p {
    background-color: yellowgreen;
}

/* general sibling selector */
div.ex5 ~ p.ex5 {
    background-color: yellowgreen;
}