body {
    background-color: transparent
}
h1 {
    color:blueviolet;
    border: 2px solid palegoldenrod;
    margin: 50px;
}
p {
    color:red;
    border: 2px solid powderblue;
    padding: 30px;
}
a:link {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}